%hideElement {
  display: none !important;
}

.typing_indicator {
  @extend %hideElement;
}

/* "More..." field in column sidebar */
.list_more {
  @extend %hideElement;
}

.section_holder [id*="_header"] {
  @extend %hideElement;
}

#aria_live_announcer {
  @extend %hideElement;
}

#msgs_overlay_div {
  @extend %hideElement;
}

.channels_list_new_btn {
  @extend %hideElement;
}

#presence_container {
  @extend %hideElement;
}

.is_limited_div {
  @extend %hideElement;
}

.dm_explanation {
  @extend %hideElement;
}