html {
  @extend .darkBg;
}

#flex_contents {
  .heading {
    @extend .darkBg;
  }
  .menu_heading {
    @extend .darkBg;
  }
}

#col_flex {
  @extend .darkBg;
}

#col_flex .toolbar {
  @extend .darkBg;
}

.monkey_scroll_bar {
  @extend .darkBg;
}

.divider_label {
  @extend .darkBg;
}

.day_divider_label {
  @extend .darkBg;
}

.day_divider {
  @extend .darkBg;
}

#search_terms {
  @extend .darkBg;
}

#primary_file_button {
  @extend .darkBg;
}

#message-input {
  @extend .darkBg;
  font-size: $v_font-size $i;
}

#channel_members_toggle {
  @extend .darkBg;
}

#header {
  @extend .darkBg;
}

#footer {
  @extend .darkBg;
}

#col_messages {
  @extend .darkBg;
}

#msgs_overlay_div {
 @extend .darkBg;
}

* {
  border-radius: 0 $i;
}

#header {
  zoom: .75 $i;
  outline: 1px solid $c_darkborder $i;
  position: absolute $i;
  min-width: 0px $i;
  width: 100% $i;
  height: $v_header-height $i;
  top: 35px $i;
  left: 85% $i;
  transition: .5s left;

  &:hover {
    z-index: 10 $i;
    left: 0 $i;  }

}

/* menu when clicking on team name */
#team_menu {
  height: $v_header-height $i;

  .ts_icon_chevron_large_down {
    margin-top: -12px $i;
  }
}

/* active user list icon */
#channel_header #channel_members_toggle {
  bottom: .1rem $i;
}

/* channel name */
#active_channel_name {
  height: $v_header-height $i;
  line-height: 44px $i;

  .name {
    line-height: 40px $i;
  }
}

/* team name */
#team_name {
  margin-top: 6px $i;
}

/* search box form */
#header_search_form {
  margin-top: 0 $i;

  /* input field */
  .search_form.search_input {
    height: $v_header-height $i;
  }
}

/* icons right of the search box */
#details_toggle, #flex_menu_toggle, #recent_mentions_toggle, #stars_toggle {
  top: 5px $i;
  border: 0 $i;
}

#footer {
  left: 40px $i;
}

.message_content, #message-input {
  color: #888 $i;
}

.message_content, .message_sender {
  font: $v_font-size $v_font-family $i;
}

.message {
  line-height: 10px $i;
  margin-top: 0 $i;
  padding-top: 1px $i;
  padding-bottom: 1px $i;

  &.show_user .message_content {
    margin-left: 0 $i;
  }

  .message_content {
    margin-left: 30px $i;
  }
}

.is_limited_div {
  background: transparent $i;
}

.day_divider hr, #header a, #search_terms, #message-input, #primary_file_button {
  border-width: 1px $i;
  border-color: #444 $i;
}

/* unread message banner at top of page */

#messages_unread_status {
  background: #51102E $i;
}

.message.divider {
  border-color: transparent $i;
}

#client_body {
  margin-top: 0 $i;
}

/* scroll bar */

.monkey_scroll_handle_inner {
  background: #777 $i;
  border-color: #444 $i;
}

/* timestamp */

.timestamp {
  font-size: .6rem $i;
  color: #393939 $i;
}

/* unread divider */

.unread_divider hr {
  margin-bottom: 2px $i;
  border-color: #661100 $i;
}


/* stars for favoriting messages */
.message .message_star_holder {
  top: 5px;
  left: -10px;
}

.message_sender {
  font-weight: bold $i;
  color: #555 $i;
}

/* message container spacing */

#messages_container {
  margin-left: -10px $i;
}

/* sidebar tweaks */

.monkey_scroll_hider {
  overflow: visible $i;
}

#col_channels_bg {
  display: none $i;
}

#channels_scroller {
  height: auto $i;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: scroll $i;
  white-space: nowrap;

  > div {
    display: inline-block $i;
    width: auto $i;
  }
}

.channels_list_holder {
  .section_holder {
    margin: 0 0 4px $i;
  }
  ul {
    width: auto $i;
  }
}

.inline_attachment {
  border-radius: 0 $i;
  color: #748543 $i;
  .attachment_bar {
    background: transparent $i;
  }
}

#channel-list {
  height: auto $i;
}

#col_channels {
  width: 100% $i;
  box-shadow: 0 10px 10px rgba(0,0,0,.6) !important;
  border-bottom: 1px solid #333;
  height: 24px $i;
  overflow: hidden $i;
  left: 0 $i;
  top: 0px $i;
  font-family: Helvetica $i;
  z-index: 10;
  position: absolute $i;
}

/* when someone mentions your name in chat */
body:not(.feature_new_message_markup) .message .mention {
  background: #353535 $i;
  border: none $i;
}

/* emoji reaction icons */
.emoji_rxn {
  background: transparent $i;
  border: none $i;
}

/* collapse sidebar */
.group, .channel {
  padding-right: 0px $i;
}

.member {
  padding-right: 0px $i;
  a {
    padding-right: 33px $i;
  }
}

#starred-list, #group-list, #channel-list, #im-list {
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: inline-block $i;

  > li {
    display: inline-block;
  }
}

.channel_name, .group_name, .im_name {
  width: auto $i;
  padding: 0 10px 0 3px $i;
  font-size: $v_font-size $i;
}

#messages_unread_status {
  top: 24px $i;
}