html, body {
  @extend .darkBg;

  // I know...super sloppy.
  div {
    @extend .transBg;
  }
}

// the main container for messages
#messages_container {
  div {
    font: $v_font-size $v_font-family;
    color: $c_font-color;
  }

  left: 15px;
  margin-left: 0;

  // individual message containers
  ts-message {
    &:hover {
      @extend .transBg;
    }
  }
}

// the little reaction icons that pop to the right when hovering over a message
.action_hover_container {
  top: 0 $i;
}

#client_header {
  @extend %hideElForHover;
  top: -40px;
  background: lighten($c_darkgrey, 5%);

  &:hover {
    top: 0;
    background: $c_darkgrey;
  }
}

// margin of the client
#client_body {
  margin-top: -10px $i;
}

// compensate for client body by pushing sidebar down
#col_channels {
  background: lighten($c_darkgrey, 5%) $i;
  width: 15px;
  z-index: 100;
  top: 25px;
  position: absolute;
  &:hover {
    width: 220px;
    background: $c_darkgrey;
  }

  .channel_name {
    border-radius: 0;
  }

  .active {
    .channel_name {
      background: $c_active $i;
    }
  }

  .unread {
    .channel_name {
      background: $c_highlight $i;
    }
  }

  #channels_scroller {
    overflow-y: auto;
    border-right: 0;
    height: auto $i;
    padding-bottom: 0 $i;

    h2 {
      display: none;
    }

    ul {
      width: 100% $i;
    }

    .section_holder {
      margin: 0;
    }
  }
}

// footer section (text box)
#footer {
  left: 0;
}

// text box and + button
#message-input, #primary_file_button {
  @extend .transBg;
  border: 1px solid #333 $i;
  color: $c_font-color $i;
}


// + file menu next to text box
#menu {
  @extend .darkBg;
  a {
    color: $c_font-color $i;
  }
}


// day divider
.day_divider {
  @extend .darkBg;
}


// unread message divider
#msgs_unread_divider {
  margin-bottom: 5px $i;

  hr {
    border-top-color: #333 $i;
  }

  span {
    @extend .darkBg;
    color: $c_font-color $i;
  }
}